@use '../variables/easing.scss' as easing;

.my-button {
  border-radius: 0.25em;
  text-align: center;
  border: 1px solid #bbb;
  background-color: #bbb;
  color: #555;
  padding: 1em;
  font-size: 14px;
  &:hover {
    background-color: #fff;
    transition-timing-function: easing.$easeInBack;
  }
  &:disabled {
    pointer-events: none;
    opacity: .75;
  }
}