<%
if(typeof content === 'undefined') {
  const content = 'コンテンツが入ります';
};
if(typeof title === 'undefined') {
  const title = 'Default title';
};
if(typeof description === 'undefined') {
  const description = 'Default description';
};
if(typeof bodyId === 'undefined') {
  const bodyId = '';
};
-%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body id="<%= bodyId %>" class="">
    <main>
    <%- content %>
  </main>
    <script src="/js/script.js"></script>
</body>
</html>