---
layout: layouts/TheLayout/TheLayout.ejs
title: Homeのタイトル
description: Homeの概要
bodyId: pageid-home
permalink: home.html
date: 2023-01-11
---
<div class="page-home">
  <h1>Home</h1>
  <%- include('../../_includes/components/MixBlendMode/MixBlendMode.ejs',{props:{}}) %>
</div>