---
layout: layouts/TheLayout/TheLayout.ejs
title: Indexのタイトル
description: Indexの概要
bodyId: pageid-index
permalink: index.html
date: 2023-01-11
---
<div class="page-index">
  Index
  <%- include('../../_includes/components/TestBtn/TestBtn.ejs', {
    props:{
      disabled: false, // boolean
      type: 'button', // submit | reset | button
      label: 'ボタン', // html | string
      modefireClass: '', // string
      jsClass: '', // string
    }
  }) -%>
</div>