<%
if(typeof props === 'undefined') {
  const props = {}
}
-%>
<div class="c-mix-blend-mode">
  <div class="c-mix-blend-mode__img">
    <img src="img/sakura.jpg" alt="桜">
  </div>
  <div class="c-mix-blend-mode__text">
    Cherry<br>Blossoms
  </div>
</div>
